/* setting default styling for all html tags with universal selector */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Declared global CSS Variables */
:root {
  --seaGreen: #05d270;
  --lighyGrey: #b4b4b4;
  --seaGreenLight: rgb(5, 210, 112, 30%);
  --width100: 100vw;
  --height100: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: unset;
}

main {
  height: auto;
}

/* setting main-height & min-width for section */
main section {
  max-width: var(--width100);
}

/* text clases */

.text-align-center {
  text-align: center;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-green {
  color: var(--seaGreen);
}

.bg-green {
  background-color: var(--seaGreen);
}

/* position clases */

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

/* Display flex clases */

.displayFlex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

/* this class horizontally & vertically centers flex items */
.flexCenter {
  justify-content: center;
  align-items: center;
}

/* this class horizontally centers flex items */
.flexCenter-x {
  justify-content: center;
}

/* this class vertically centers flex items */
.flexCenter-y {
  align-items: center;
}

/* this class will set flex direction to column (vertical) */
.flexColumn {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Gap clases */

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.container {
  margin-top: 50px;
  min-width: 65vw;
  max-width: 75vw;
  min-height: 45vh;
  background-color: white;
  box-shadow: 0 8px 18px 12px #00000052;
}

/* .row {
  max-width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* padding classes */

.padding20 {
  padding: 20px !important;
}

.padding30 {
  padding: 30px !important;
}

.width100p {
  width: 100%;
}

.shadow-glow {
  box-shadow: 0px 0px 6px 5px #00000052;
}

.btn {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--seaGreen);
  padding: 10px;
}

.rounded-border {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.pointer-cursor {
  cursor: pointer;
}

.border-none {
  border: none;
}

.display-grid {
  display: grid;
}

.columns-2 {
  grid-template-columns: 40% 55%;
}

.background-transparent {
  background-color: transparent;
}

/* logo css */

.logo img {
  width: 100px;
}

/* navbar css */

.header-container {
  max-width: var(--width100);
  height: 100%;
  overflow-x: hidden;
}

header {
  max-width: var(--width100);
  z-index: 10;
  background-color: transparent;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -ms-transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
}

header.fixed-navbar {
  position: fixed !important;
  background-color: rgba(17, 17, 17, 0.5);
}

/* Hamburger Icon */

.hamburger-icon {
  display: none;
  padding: 3px 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.hamburger-icon svg {
  width: 25px;
  fill: white;
}


/* Navigation */

.nav-link {
  padding: 9px 4px;
  font-size: 1.2rem;
}

nav .nav-link:hover {
  border-bottom: 3px solid var(--seaGreen);
}

.nav-link.active {
  border-bottom: 3px solid var(--seaGreen);
}

/* banner Section */

.upperDivison {
  max-width: var(--width100);
  min-height: 60vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.lowerDivison {
  max-width: var(--width100);
  min-height: 40vh;
}

/* about page css */

.about-container {
  grid-template-columns: 25% 65%;
}

.left-column .hi {
  font-size: 2.5rem;
  padding: 6px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.right-column .btn {
  font-size: 1.25rem;
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.left-column .name {
  font-size: 2.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left-column .name span {
  font-size: 2rem;
}

.left-column .about-description p {
  font-size: 1.25rem;
}

/* Social Icons */

.left-column .social-icons {
  margin-top: 10px;
}

.left-column .social-icons a {
  width: 30px;
  transition: 0.5s ease-out;
  transform: translateY(1);
  -webkit-transform: translateY(1);
  -moz-transform: translateY(1);
  -ms-transform: translateY(1);
  -o-transform: translateY(1);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}

/* A hover effect for social icons */

.left-column .social-icons a:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* this sets the fill color for svg icons*/
.left-column .social-icons svg {
  fill: var(--seaGreen);
}

.left-column .btn {
  font-size: 1.5rem;
  padding: 6px 20px;
}

/* Academics Page Css */

.academics-container h1,
.projects-container h1,
.testimonials-container h1,
.skills-container h1,
.contact-container h1 {
  font-size: 2.4rem;
}

/* Academics table */

.academics-container table tr th,
.academics-container table tr td {
  font-size: 1.25rem;
  text-align: center;
  width: 50%;
  padding: 10px 20px;
}

.academics-container table tr td span {
  margin-top: 5px;
  font-size: 1rem;
  display: block;
  text-align: center;
}

.academics-container table {
  border-color: var(--seaGreen);
}

.academics-container table thead {
  background-color: var(--seaGreen);
}

.academics-container table thead tr {
  background-color: var(--seaGreen) !important;
}

.academics-container table tr:nth-child(even) {
  background-color: var(--seaGreenLight) !important;
}

.academics-container table tr:nth-child(odd) {
  background-color: white;
}

/* Projects page css */

.projects {
  grid-template-columns: 35% 35%;
}

.projects .project {
  border-radius: 8px;
  height: 200px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.projects a {
  color: unset;
}

.projects .project img {
  width: 100%;
  object-fit: fill;
  transition: .5s ease-in-out;
  filter: blur(0) brightness(1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-filter: blur(0) brightness(1);
}

.projects .project:hover img {
  filter: blur(3px) brightness(0.75);
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-filter: blur(3px) brightness(0.75);
}

.projects .project span {
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.projects .project:hover span {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

/* Testimonial page css */

.testimonials {
  grid-template-columns: 48% 48%;
}

.testimonials .testimony {
  grid-template-columns: 40% 60%;
}

.testimonials .testimony .person-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.testimony .person-img img {
  object-fit: fill;
}

#person-1 {
  border-right: solid 2px var(--lighyGrey);
  border-bottom: solid 2px var(--lighyGrey);
}

#person-2 {
  border-bottom: solid 2px var(--lighyGrey);
}

#person-3 {
  border-right: solid 2px var(--lighyGrey);
}

.testimony .person .name {
  font-size: 1.4rem;
  font-weight: bold;
}

.testimony .person .designation {
  color: var(--lighyGrey);
  font-size: .8rem;
  font-weight: unset;
}

.testimony .statement {
  margin-top: 25px;
  font-size: 1.3rem;
}

/* Skills page css */

.skills-container .expandable-head span {
  font-size: 1.5rem;
}

.skills-container .expandable-head svg {
  width: 20px;
}

.skills-container .expandable-body ul li {
  list-style: inside;
}

.expandable-body {
  display: none;
}

.expandable-body.active {
  display: block;
}

/* Contact page css */

.contact-info span {
  font-size: 1.25rem;
}

.contact-info span a:hover {
  text-decoration: underline;
}

.contact-info i svg {
  width: 22px;
  fill: var(--seaGreen);
}

.contact {
  grid-template-columns: 30% 60%;
}

/* footer css */

.footer {
  margin-top: 50px;
  grid-template-columns: auto auto;
}

footer {
  font-size: 1.45rem;
}

.footer a:hover {
  text-decoration: underline;
}

/* Media Queries for small screen devices */

/* This css will be implemented on screen with screen resolution less than 1080px */
@media screen and (max-width: 1080px) {

  .hamburger-icon {
    z-index: 10;
    display: block;
  }

  .navigation {
    padding: 50px 80px !important;
    background-color: var(--seaGreen);
    height: 100vh;
    top: 0;
    z-index: 5;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    transition: .8s ease-out;
    -webkit-transition: .8s ease-out;
    -moz-transition: .8s ease-out;
    -ms-transition: .8s ease-out;
    -o-transition: .8s ease-out;
  }

  nav .nav-link.active {
    border-bottom: 3px solid white;
  }

  nav .nav-link:hover {
    border-bottom: 3px solid white;
  }
}

/* This css will be implemented on screen with screen resolution less than 600px */
@media screen and (max-width: 600px) {
  .navigation {
    align-items: center;
    width: 100%;
  }
}
